.buttons-set {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  margin: auto;
  padding: 0 16px;
}

.button-item {
  list-style: none;
}

.button-link {
  appearance: none;
  background: none;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button-link:hover,
.button-link:focus {
  color: var(--color-primary);
  text-decoration: underline;
}

.button-background {
  align-items: center;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  display: flex;
  height: 46px;
  justify-content: center;
  margin-bottom: 8px;
  width: 46px;
}

.button-link:hover .button-background,
.button-link:focus .button-background {
  background: transparent;
}

.button-link:hover .button-text,
.button-link:focus .button-text {
  /* Another visual indicator on the text for accessibility */
  /* It was bolded on hover/focus but it shifted things around */
  text-decoration: underline;
}

.button-text {
  color: var(--color-primary);
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}
