.menu {
  background: #FFFFFF;
  border-top: 1px solid #CCCCCC;
  bottom: 0;
  height: 65px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.menu-set {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px 20px;
  padding: 0;
}

.menu-link {
  color: #292929;
  transition: all 0.1s ease-in-out;
}

.menu-link:hover,
.menu-link:focus {
  color: #366AB2;
}

.menu-item {
  display: inline-block;
  grid-column: span 3;
  list-style: none;
}

.menu-icon {
  display: block;
  margin: auto;
}

.menu-text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
}