.transactions {
  background: var(--color-white);
  border: 1px solid var(--color-section-border);
  border-radius: 32px;
  margin: 32px auto 0;
  max-width: 800px;
  padding-bottom: 80px;
}

.transactions-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 32px 16px 0;
}

.transactions-headline {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
}

.transaction-button {
  appearance: none;
  background: none;
  border: none;
  color: var(--color-text-main);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.transaction-button:hover,
.transaction-button:focus {
  color: var(--color-primary);
}

.transactions-group {
  padding: 0 16px;
}

.transactions-set {
  margin-top: 20px;
}

.transaction-subhead {
  color: var(--color-text-date);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
}

.transaction-item {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
  text-align: left;
  width: 100%;
}

.transaction-details {
  padding-left: 12px;
}

.transaction-date {
  color: var(--color-text-data);
  font-size: 15px;
  line-height: 1.17;
  margin: 0 0 2px 0;
}

.transaction-name {
  color: var(--color-text-main);
  font-size: 20px;
  line-height: 1.17;
  margin: 0 2px 0 0;
}

.transaction-amount {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.17;
  margin: 0 0 0 auto;
}

.transaction-amount-debit {
  color: var(--color-expense);
}

.transaction-amount-credit {
  color: var(--color-income);
}

@media screen and (min-width: 768px) {
  .transactions-header {
    padding: 32px;
  }

  .transactions-group {
    padding: 0 32px;
  }
}
